<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShaderToys</key>
	<dict>
		<key>RacingGame</key>
		<array>
			<string>tex16.png</string>
		</array>
		<key>FractalCondos</key>
		<array/>
		<key>Generators</key>
		<array>
			<string>tex16.png</string>
		</array>
		<key>Tokyo</key>
		<array/>
		<key>Seascape</key>
		<array/>
		<key>Mountains</key>
		<array>
			<string>tex11.png</string>
			<string>Day.jpg</string>
		</array>
		<key>SymmetricOrigins</key>
		<array/>
		<key>SomewhereIn1993</key>
		<array/>
		<key>MusicPirates</key>
		<array>
			<string>tex03.jpg</string>
			<string>Day.jpg</string>
		</array>
		<key>MorningCity</key>
		<array/>
	</dict>
	<key>renderers</key>
	<array>
		<string>MusicPiratesRenderer</string>
		<string>SymmetricOriginsRenderer</string>
		<string>SomewhereIn1993Renderer</string>
		<string>SeascapeRenderer</string>
		<string>MountainsRenderer</string>
		<string>MorningCityRenderer</string>
	</array>
	<key>run-info</key>
	<dict>
		<key>current-frame</key>
		<integer>1</integer>
		<key>current-renderer</key>
		<string>Seascape</string>
		<key>iterations-per-renderer</key>
		<integer>500</integer>
	</dict>
</dict>
</plist>
