<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShaderToys</key>
	<dict>
		<key>ToxicLake</key>
		<dict>
			<key>Textures</key>
			<array>
				<string>tex16.png</string>
			</array>
		</dict>
		<key>Catacombs</key>
		<dict>
			<key>Textures</key>
			<array>
				<string>tex03.jpg</string>
			</array>
		</dict>
		<key>IcyMountains</key>
		<dict>
			<key>Config</key>
			<dict>
				<key>multi-screen-display-factor</key>
				<real>1</real>
			</dict>
			<key>Textures</key>
			<array>
				<string>tex05.jpg</string>
				<string>tex02.jpg</string>
				<string>tex16.png</string>
			</array>
		</dict>
		<key>Kepler256o</key>
		<dict>
			<key>Config</key>
			<dict>
				<key>multi-screen-display-factor</key>
				<real>1</real>
			</dict>
			<key>Textures</key>
			<array>
				<string>tex06.jpg</string>
				<string>tex07.jpg</string>
				<string>tex11.png</string>
				<string>tex03.jpg</string>
			</array>
		</dict>
		<key>FamousSolid</key>
		<dict>
			<key>Config</key>
			<dict>
				<key>iterations-per-renderer</key>
				<integer>100</integer>
			</dict>
		</dict>
		<key>WebGLTunnel</key>
		<dict/>
		<key>WindWakerOcean</key>
		<dict/>
		<key>JoggingRat</key>
		<dict/>
		<key>MorningCity</key>
		<dict/>
		<key>TrainRide</key>
		<dict>
			<key>Config</key>
			<dict>
				<key>multi-screen-display-factor</key>
				<real>0.25</real>
				<key>enabled</key>
				<false/>
			</dict>
		</dict>
		<key>SomewhereIn1993</key>
		<dict/>
		<key>SymmetricOrigins</key>
		<dict/>
		<key>Venice</key>
		<dict>
			<key>Config</key>
			<dict>
				<key>multi-screen-display-factor</key>
				<real>0.25</real>
				<key>enabled</key>
				<false/>
			</dict>
			<key>Textures</key>
			<array>
				<string>tex09.jpg</string>
				<string>tex00.jpg</string>
				<string>tex11.png</string>
				<string>tex05.jpg</string>
			</array>
		</dict>
		<key>Elevated</key>
		<dict>
			<key>Textures</key>
			<array>
				<string>tex11.png</string>
			</array>
		</dict>
		<key>DeformSquareTunnel</key>
		<dict>
			<key>Config</key>
			<dict>
				<key>iterations-per-renderer</key>
				<integer>2000</integer>
			</dict>
			<key>Textures</key>
			<array>
				<string>tex00.jpg</string>
			</array>
		</dict>
		<key>MainSequenceStar</key>
		<dict>
			<key>Textures</key>
			<array>
				<string>tex09.jpg</string>
				<string>tex09.jpg</string>
			</array>
		</dict>
		<key>Seascape</key>
		<dict/>
		<key>Tokyo</key>
		<dict>
			<key>Config</key>
			<dict>
				<key>multi-screen-display-factor</key>
				<real>0.5</real>
			</dict>
		</dict>
		<key>HexagonsDistance</key>
		<dict>
			<key>Textures</key>
			<array>
				<string>tex16.png</string>
			</array>
		</dict>
		<key>Generators</key>
		<dict>
			<key>Textures</key>
			<array>
				<string>tex16.png</string>
			</array>
		</dict>
		<key>FractalCondos</key>
		<dict/>
		<key>MengerJourney</key>
		<dict>
			<key>Config</key>
			<dict>
				<key>iterations-per-renderer</key>
				<integer>2000</integer>
			</dict>
		</dict>
		<key>CubesAndSpheres</key>
		<dict/>
		<key>Fire</key>
		<dict/>
		<key>AbandonedBase</key>
		<dict>
			<key>Config</key>
			<dict>
				<key>multi-screen-display-factor</key>
				<real>0.5</real>
			</dict>
			<key>Textures</key>
			<array>
				<string>tex02.jpg</string>
			</array>
		</dict>
		<key>Mountains</key>
		<dict>
			<key>Textures</key>
			<array>
				<string>tex11.png</string>
				<string>Day.jpg</string>
			</array>
			<key>Config</key>
			<dict>
				<key>multi-screen-display-factor</key>
				<real>0.5</real>
				<key>enabled</key>
				<false/>
				<key>iterations-per-renderer</key>
				<integer>100</integer>
			</dict>
		</dict>
		<key>SunsetOnTheSea</key>
		<dict>
			<key>Textures</key>
			<array/>
			<key>Config</key>
			<dict>
				<key>enabledbb</key>
				<false/>
				<key>iterations-per-renderer</key>
				<integer>500</integer>
			</dict>
		</dict>
		<key>MusicPirates</key>
		<dict>
			<key>Textures</key>
			<array>
				<string>tex03.jpg</string>
				<string>tex05.jpg</string>
			</array>
		</dict>
		<key>RacingGame</key>
		<dict>
			<key>Config</key>
			<dict>
				<key>multi-screen-display-factor</key>
				<real>0.5</real>
			</dict>
			<key>Textures</key>
			<array>
				<string>tex16.png</string>
			</array>
		</dict>
	</dict>
	<key>renderers</key>
	<array>
		<string>MusicPiratesRenderer</string>
		<string>SymmetricOriginsRenderer</string>
		<string>SomewhereIn1993Renderer</string>
		<string>SeascapeRenderer</string>
		<string>MountainsRenderer</string>
		<string>MorningCityRenderer</string>
	</array>
	<key>run-info</key>
	<dict>
		<key>current-frame</key>
		<integer>1</integer>
		<key>current-renderer</key>
		<string>Seascape</string>
		<key>iterations-per-renderer</key>
		<integer>300</integer>
	</dict>
</dict>
</plist>
